.home-container {
  background-color: black;
  text-align: center;
  height: 100vh;
}

#deloitte-circle {
  width: 25%;
}

.app-logo {
  padding: 2%;
  background: url("../../assets/logo-doughnut.png") no-repeat center;
}

.login-btn {
  color: white;
  margin: 1%;
  background: rgb(134, 188, 37);;
}
