.home-container {
  background-color: black;
  text-align: center;
  height: 100vh;
}

.deloitte-image {
  height: 70%;
  box-shadow: 0 0 8px 8px black inset;
  background: url("../../assets/workload_image.png") no-repeat center;
}

.login-btn {
  color: white;
  margin: 1%;
  background: rgb(134, 188, 37);;
}
