<div class="container-fluid fill">
  <div class="new-task">
    <button class=" btn btn-primary " (click)="onNewTask(newTaskModal);">Add New Task</button>
  </div>
  <div class="row task-layout">
    <div class="col-sm-3 draft" >
      <div class="panel panel-default">
        <div class="panel-heading bg-primary text-white text-uppercase">Draft</div>
        <div class="panel-body pre-scrollable scroll-style">
          <div class="card task-card text-white" draggable="true" *ngFor="let draftTask of draftTasks"
               [dragData]="draftTask">
            <app-task-card [task]="draftTask"></app-task-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 pending">
      <div class="panel panel-default" droppable (onDrop)="onTaskDrop($event,recommendTeam)">
        <div class="panel-heading  bg-primary text-white text-uppercase">Pending Tasks</div>
        <div class="panel-body pre-scrollable scroll-style">
          <div class="card task-card text-white" *ngFor="let pendingTask of pendingTasks">
            <app-task-card [task]="pendingTask"></app-task-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 current">
      <div class="panel panel-default">
        <div class="panel-heading  bg-primary text-white text-uppercase">Current Tasks</div>
        <div class="panel-body current-panel pre-scrollable scroll-style">
          <div class="row">
            <!--add  current card list here-->
            <div class="card  col-sm-5 task-card current-card text-white"
                 *ngFor="let assignedTask of assignedTasks">
              <app-task-card [task]="assignedTask"></app-task-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #newTaskModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" (ngSubmit)="f.form.valid && addTask(); c('Close click')" #f="ngForm" novalidate>
      <div class="form-group row">
        <label class="control-label col-sm-2">Task Name</label>
        <div class="col-sm-10">
          <input class="form-control" type="text" required [(ngModel)]="model.name" name="name" #name="ngModel">
          <div *ngIf="f.submitted && !name.valid" class="help-block">Task name is required</div>
        </div>
      </div>
      <div class="form-group row">
        <label class="control-label col-sm-2">Description</label>
        <div class="col-sm-10">
          <textarea class="form-control" rows="3" id="description" required [(ngModel)]="model.description" name="description" #description="ngModel"></textarea>
          <div *ngIf="f.submitted && !description.valid" class="help-block">Description is required</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="control-label col-sm-4">Deadline</label>
            <div class="col-sm-8">
              <input class="form-control" type="datetime-local" name="deadline" [(ngModel)]="model.deadline">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-4">Group</label>
            <div class="col-sm-8">
              <select class="form-control" id="group" name="group" [(ngModel)]="model.group">
                <option>Financial Analysis</option>
                <option>Project Management</option>
                <option>Strategy</option>
                <option>Operations</option>
                <option>Technology</option>
                <option>Human Capital</option>
                <option>Software</option>
                <option>Teaching and Training</option>
                <option>Business and Development</option>
                <option>Marketing and Sales</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-4">Resource</label>
            <div class="col-sm-8">
              <input class="form-control" type="number" name="attribute.resource" [(ngModel)]="model.attribute.resource">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="control-label col-sm-4">Availability</label>
            <div class="col-sm-8">
              <input class="form-control" type="number" name="attribute.availability" [(ngModel)]="model.attribute.availability">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-sm-4">#People Required</label>
            <div class="col-sm-8">
              <input class="form-control" type="number" name="peopleRequired" [(ngModel)]="model.peopleRequired">
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="modal-footer">
          <button class="btn btn-secondary button_cancel" (click)="c('Close click')">Cancel</button>
          <button class="btn btn-primary button_add">Add</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #recommendTeam let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Recommended Team Members</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body pre-scrollable scroll-style">
    <table class="table" [ngBusy]="{busy: loading, message: 'Loading...', minDuration: 2000}">
      <tr class="bg-primary text-white">
        <th>Ranking</th>
        <th></th>
        <th>Name</th>
        <th>Availability</th>
        <th>Experience</th>
        <th>Interest</th>
      </tr>
      <tr *ngFor="let teamMember of teamMembers; let i = index;" [attr.data-index]="i"
          (click)="addThisEmployeeToArray(teamMember, $event)"
          [class.active]="isEmployeeSelected(teamMember)">
        <td>{{i+1}}</td>
        <td><i class="fa fa-user" aria-hidden="true"></i>{{teamMember.icon}}</td>
        <td>{{teamMember.name}}</td>
        <td>{{teamMember.weightings[droppedTaskGroup].availability}}</td>
        <td>{{teamMember.weightings[droppedTaskGroup].experience}}</td>
        <td>{{teamMember.weightings[droppedTaskGroup].interest}}</td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('Send')">Send Invitation</button>
  </div>
</ng-template>
<ng-template #invitationSend let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">Successfully send</h5>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <pre>{{selectedEmployeeArray|json }}</pre>
  </div>
</ng-template>
