<md-card class="task-card-employee">
  <md-card-header>
    <md-card-title class="card-title">{{task.name}} <i class="material-icons">info</i></md-card-title>
    <md-card-subtitle class="card-subtitle">Deadline: {{task.deadline}}</md-card-subtitle>
  </md-card-header>
  <md-card-content class="card-description">
    <div *ngIf="shown === 'NONE'">{{task.description}}</div>
    <div *ngIf="shown === 'REQUEST'">
      <md-card-content
        class="card-description"><textarea class="text-area"
                                           placeholder="Request more information here"></textarea>
      </md-card-content>
    </div>
    <div *ngIf="shown === 'DECLINE'">
      <md-card-content
        class="card-description"><textarea class="text-area"
                                           placeholder="Please state your reason for declining"></textarea>
      </md-card-content>
    </div>
  </md-card-content>
  <div *ngIf="shown === 'NONE' && task.status ==='Pending'">
    <md-card-actions layout="row" layout-align="center">
      <button md-button>Accept</button>
      <button md-button (click)="shown = 'REQUEST'">Request More Information</button>
      <button md-button (click)="shown = 'DECLINE'">Decline</button>
    </md-card-actions>
  </div>
  <div *ngIf="shown != 'NONE'">
    <md-card-actions layout="row" layout-align="center">
      <button md-button (click)="shown= 'NONE'">Cancel</button>
      <button md-button>Send</button>
    </md-card-actions>
  </div>
</md-card>
