<div class="background">
  <div class="column-container">
    <div class="column" id="column-pending">
      <div class="column-heading">Pending ({{taskService.pendingTasks.length}})</div>
      <div class="column-body">
        <app-team-member-card *ngFor="let pendingTask of taskService.pendingTasks" [task]="pendingTask"></app-team-member-card>
      </div>
    </div>
    <div class="column" id="column-assigned">
      <div class="column-heading">Assigned</div>
      <div class="column-body">
        <app-team-member-card *ngFor="let assignedTask of taskService.assignedTasks" [task]="assignedTask"></app-team-member-card>
      </div>
    </div>
  </div>
</div>
