<div class="column-container">
  <div class="column" id="column-pending">
    <div class="column-heading">Pending (3)</div>
    <div class="column-body" *ngFor="let pendingTask of pendingTasks">
      <app-team-member-card [task]="pendingTask"></app-team-member-card>
    </div>
  </div>

  <div class="column" id="column-assigned">
    <div class="column-heading">Assigned</div>
    <div class="column-body" *ngFor="let assignedTask of assignedTasks">
      <app-team-member-card [task]="assignedTask"></app-team-member-card>
    </div>
  </div>
</div>
