.mat-card {
  padding: 8% 7% 5% 7%;
}
.mat-card-content > :first-child, .mat-card > :first-child {
  margin-top: -6%;
}

.more-info-section {
  float: right;
  margin: -7% -6% 0 0;
}

.mat-card-title {
  margin-top: -5%;
  margin-left: -5%;
  margin-bottom: 0;
  padding-bottom: 4%;
  color: black;
  font-size: medium;
}

.mat-card-subtitle {
  margin-top: -5%;
  margin-left: -4%;
  margin-bottom: 5%;
  color: black;
  font-size: x-small;
}

.mat-card-content {
  font-size: small;
  line-height: 98%;
}

.mat-card-actions {
  padding: 0 6% 0 6%;
  font-size: smaller;
  margin-bottom: 0;
}

.cd-footer {
  margin-left: 0;
  padding-bottom: 5%;
  font-size: x-small;
}

.text-area {
  width: 100%;
  resize: none;
  padding: 2%;
}

.mat-card-footer {
  display: block;
  margin: 0 0 -7%;
}

