<md-card-header>
  <md-card-title class="card-title">{{task.name}}
    <span class="info-icon" md-tooltip="Group: {{task.group}}" mdTooltipPosition="after"><i
      class="fa fa-info-circle"></i></span>
  </md-card-title>
  <md-card-subtitle class="card-subtitle">Deadline: {{task.deadline}}
  </md-card-subtitle>
</md-card-header>
<md-card-content class="card-description">
  <div>{{task.description}}</div>
</md-card-content>
<md-card-footer class="card-description cd-footer">
  <div *ngIf="task.assignees.length > 0"><span *ngFor="let assignees of task.assignees ">{{assignees.name}}</span><!--<span
    class="info-icon" md-tooltip="<span *ngFor="let assignees of task.assignees">{{assignees.name}}</span>" mdTooltipPosition="after"><i class="fa fa-info-circle"></i></span>
 --> </div>
</md-card-footer>


