<mat-card>
  <mat-card-header>
    <mat-card-title>{{task.name}} <span class="info-icon" matTooltip="Group: {{task.group}}" matTooltipPosition="after">
      <i class="material-icons">info</i></span></mat-card-title>
    <mat-card-subtitle>Deadline: {{task.deadline | date:'EEE d MMM y h:m a'}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="shown === 'NONE'">{{task.description}}</div>
    <div *ngIf="shown === 'REQUEST'">
      <mat-card-content><textarea class="text-area" placeholder="Request more information here"></textarea>
      </mat-card-content>
    </div>
    <div *ngIf="shown === 'DECLINE'">
      <mat-card-content
        class="card-description"><textarea class="text-area" name="reasonForDeclining" [(ngModel)]="task.reasonForDeclining"
                                           placeholder="Please state your reason for declining"></textarea>
      </mat-card-content>
    </div>
  </mat-card-content>
  <div *ngIf="shown === 'NONE' && task.status ==='Pending'">
    <mat-card-actions layout="row" layout-align="center">
      <button mat-button (click)="onTaskAccept()">Accept</button>
      <button mat-button *ngIf="!hasUserRequestedInfo() && !showRequestMoreInfo"
              (click)="shown = 'NONE'; onRequestMoreInformation(); showRequestMoreInfo = true">Request
        More Info</button>
      <button mat-button *ngIf="hasUserRequestedInfo() || showRequestMoreInfo" disabled> You requested more information
      </button>
      <button mat-button (click)="shown = 'DECLINE'">Decline</button>
    </mat-card-actions>
  </div>
  <div *ngIf="shown != 'NONE'">
    <mat-card-actions layout="row" layout-align="center">
      <button mat-button (click)="shown= 'NONE'">Cancel</button>
      <button mat-button (click)="onTaskDecline()">Send</button>
    </mat-card-actions>
  </div>
  <div *ngIf="task.status == 'Assigned'">
    <mat-card-actions layout="row" layout-align="center">
      <button mat-button (click)="onTaskDone()">Done</button>
    </mat-card-actions>
  </div>
</mat-card>
