/*:host {*/
  /*flex-grow: 1;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items:center;*/
/*}*/

/*div.input{*/
  /*position:relative;*/
/*}*/

/*div.input label {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*transform: translateY(-50%);*/
  /*left: 10px;*/
  /*background: white;*/
  /*padding: 5px 2px;*/
/*}*/

/*div.input input {*/
  /*padding: 10px 20px;*/
  /*font-size: 25px;*/
  /*outline: 0;*/
/*}*/

/*div.input {*/
  /*margin-top: 20px;*/
/*}*/
/*@import '~font-awesome/css/font-awesome.css';*/
/*:host {*/
/*flex-grow: 1;*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items:center;*/
/*}*/

/*form{*/
/*background-color: #D4D4D9;*/
/*}*/

/*div.input{*/
/*position:relative;*/
/*}*/

/*div.input label {*/
/*position: absolute;*/
/*top: 0;*/
/*transform: translateY(-50%);*/
/*left: 10px;*/
/*background: white;*/
/*padding: 5px 2px;*/
/*}*/

/*div.input input {*/
/*padding: 10px 20px;*/
/*fonts-size: 25px;*/
/*outline: 0;*/
/*}*/

/*div.input {*/
/*margin-top: 20px;*/
/*}*/
.form-box{
  background-color: white;
  width: 100%;
  height: 650px;
  margin-top: 100px;
}

.container{
  width: 400px;
  height: 300px;
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.7) !important;*/
  background-color: rgba(0,0,0,0.7) !important;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px black;
}

.container img{
  width:120px;
  height: 120px;
  margin-top: -60px;
  margin-bottom: 30px;
  border-radius: 50%;
  opacity: 0.85;
  box-shadow: 0 1px 3px black;
}

input[type="text"],input[type="password"]{
  height: 45px;
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  background-color: #fff;
  padding-left: 30px;
}
/*input fonts-awesome icon*/
/*.form-input::before{*/
/*content: "\f0c0";*/
/*position: absolute;*/
/*fonts-family: FontAwesome;*/
/*fonts-size: 30px;*/
/*}*/
/*.btn-login{*/
/*padding: 15px 20px;*/
/*color: #eeeeee;*/
/*border:none;*/
/*background-color: #2ECC71;*/
/*border-radius: 4px;*/
/*}*/
.btn-input{
  width: 200px !important;
  margin-top: 10px;
  margin-left: 85px;
}

.block-line{
  height: 5px;
}
