<!--<div class="form-box">-->
<div class="login">
  <div class="block-line"></div>
  <div class="container">
    <img src="../../assets/deloitte_logo.png"/>
    <form id="loginform" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group">
        <input name="username" type="text" [(ngModel)]="model.username" placeholder="Username"
               #username="ngModel"required>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>
      <div class="form-group">
        <input name="password" type="password" [(ngModel)]="model.password" #password="ngModel"
               placeholder="Password" required>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        <!--<div *ngIf="f.submitted" class="help-block">Password is wrong</div>-->
        <div *ngIf="f.submitted && passwordError && password.valid"class="help-block">Password is wrong</div>
      </div>
      <div class="login-btn">
        <input type="submit" value="Login" class="btn btn-dark btn-medium btn-block">
      </div>
    </form>
  </div>
</div>
<!--</div>-->
