.home-container {
  background: url('../../assets/laptops.png') no-repeat center;
  min-height: 100vh;
}

.login-container {
  width: 28%;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 5px black;
  background-color: rgba(0, 0, 0, 0.6) !important;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-container img {
  width: 30%;
  margin-top: -19%;
  opacity: 0.85;
  border-radius: 50%;
  box-shadow: 0 1px 3px black;
}

:host /deep/ .mat-input-placeholder {
  color: white;
}

:host /deep/ #md-input-0 {
  color: white;
}

:host /deep/ .mat-placeholder-required {
  display: none
}

:host /deep/ .mat-form-field-ripple {
  color: white;
}

:host /deep/ .mat-form-field-invalid {
  color: white;
}

:host /deep/ .mat-input-underline {
  color: white;
}

.mat-error {
  color: white;
}

.form {
  background-color: white;
  width: 60%;
}

.login-btn {
  width: 30%;
  margin: auto;
  display: block;
  padding: 0 0 2% 0;
}

.help-block {
  font-size: 12px;
  color: white;
}

