.new_task {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-default {
  border: solid;
  border-width: thin;
  border-color: gray;
  border-radius:3px;
  background-color: gainsboro;

}
.panel-heading {
  padding: 10px;
}
.panel-body {
  min-height: 400px;
  height: 400px;
  padding:10px;
}

.modal-content > .modal-body{
  padding:20px 0px 20px 20px;
}
.modal-left {
  float: left;
  width:95%;
}
.modal-right {
  float: right;
  width:5%;
  padding-right:15px;
}
.button_add {
  margin-right:20px;
  margin-left:30px;
}
.button_cancel {
  float: right;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align:left;
  }

}

