.new-task{
  padding:10px 0px;
}
.task-layout{
  margin-bottom: 20px;
}
.panel-heading {
  padding: 10px;
}
.panel-body {
  min-height: 420px;
  padding:10px;
  background-color:#E8EAE9;
}
.task-card {
  background-color: rgba(26, 26,26, 0.8);
  margin-bottom:8px;
}
.recommend-modal>table >th {
  background-color: #1a1a1a;
  color:white;
}
.draft,.pending,.current {
  padding-right: 0px;
}
.recommend-modal>.modal-dialog,.task-modal>.modal-dialog{
  max-width:800px;
}
.task-modal>.modal-dialog {
  margin:116px 29px;
}
.table tr:nth-child(odd)  {
  background-color: #E8EAE9;
}
.task-modal>.modal-dialog>.modal-content>.modal-header>.close{
  width:100%;
  text-align: right;
}
