.background {
  background: black;
  padding: 1%;
}

.title {
  color: white;
  font-size: large;
  display: inline-block;
}

.title img {
  max-width: 28%;
}

.logout-menu {
  float: right;
  display: flex;
  align-items: center;
  width: 17%;
}

.welcome {
  font-size: small;
  color: white;
  white-space: nowrap;
  padding-right: 8%;
}

.mat-button {
  line-height: 190%;
  background: white;
  color: black;
}
